textarea {
  resize: none;
  width: 100%;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
