<mat-card *ngFor="let contact of dataContact">
  <mat-card-content>
    <div>
      <span>Country</span>
      <span>{{ contact.county == null ? 'not selected' : contact.county }}</span>
    </div>
    <div>
      <span>Email</span>
      <span>{{ contact.email == null ? 'not selected' : contact.email }}</span>
    </div>
    <div>
      <span>First Name</span>
      <span>{{ contact.f_name == null ? 'not selected' : contact.email }}</span>
    </div>
    <div>
      <span>Message</span>
      <span>{{ contact.message == null ? 'not selected' : contact.message }}</span>
    </div>
  </mat-card-content>
</mat-card>
