<footer>
  <div class="footer_block">
    <div class="footer_container">
      <div class="about_block_footer">
        <img style="display: block;" src="assets/Images/logos/logo.png" alt="this is logo">
        <div>
          <a routerLink="" class="links_footer">Home</a>
          <a routerLink="blog" class="links_footer">Blog</a>
          <a routerLink="about-us" class="links_footer">About us</a>
          <a routerLink="contact" class="links_footer">Contact us</a>
          <a routerLink="privacy-policy" class="links_footer">Privacy Policy</a>
        </div>
      </div>
      <div class="subscribe_block_footer">
        <h2>
          Subscribe to our news letter to
          get latest updates and news
        </h2>
        <div class="footer_enter_email">
          <form [formGroup]="form" (ngSubmit)="save()">
            <input
              [style.border]="form.invalid && (form.touched || form.dirty) ? '1px solid red' : '1px solid #4C4C4C'" formControlName="email" name="email" placeholder="Enter Your Email" type="email">
            <div class="email-validator-text-box" *ngIf="form.touched || form.dirty">
             <span
               style="color: red;"
               *ngIf="form.get('email')!.hasError('pattern')"
             >enter is valid email</span>
              <span
                style="color: red;"
                *ngIf="form.get('email')!.hasError('required')"
              >email is requerid</span>
            </div>
            <button [disabled]="form.invalid" style="border: none;" class="global_button">Subscribe</button>
          </form>
          <span
            class="send-successfully"
            *ngIf="isSendSuccessfully"
          >Send Successfully &#10004;</span>
        </div>
      </div>
      <div class="finstreet_and_social_sites">
        <div class="mail_and_phone">
          <p>Finstreet 118 2561 Fintown</p>
          <p>Hello@finsweet.com  020 7993 2905</p>
        </div>
        <div class="social_sites">
          <a target="_blank" href="https://www.facebook.com/"><img src="assets/Images/icons/facebook_gray.png" alt="this is icon facebook"></a>
          <a target="_blank" href="https://twitter.com/"><img style="margin-left: 26.67px;" src="assets/Images/icons/twitter_gray.png" alt="this is icon twitter"></a>
          <a target="_blank" href="https://www.instagram.com/?hl=en"><img style="margin-left: 26.67px;" src="assets/Images/icons/instagram_gray.png" alt="this is icon instagram"></a>
          <a target="_blank" href="https://am.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F"><img style="margin-left: 26.67px;" src="assets/Images/icons/linkedin_gray.png" alt="this is icon linkedin"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
