<div
  *ngIf="isSentSuccessfully"
  [style.top]="isSentSuccessfullyTimeOut ? '10px' : '-100px'"
  class="sent-successfully">
  <p>sent successfully &#10004;</p>
</div>
<div class="container">
  <div class="contact_page_block">
    <span>Contact us</span>
    <h1>Let’s Start a Conversation</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    </p>
    <div class="inputs_block">
      <div class="working_hors_and_contact_block">
        <div class="working_hours_block">
          <span>Working hours</span>
          <div class="line"></div>
          <h5>Monday To Friday</h5>
          <h5>9:00 AM to 8:00 PM</h5>
          <p>Our Support Team is available 24/7</p>
        </div>
        <div class="contact_block">
          <span>Contact Us</span>
          <div class="line"></div>
          <h5>020 7993 2905</h5>
          <p>hello@finsweet.com</p>
        </div>
      </div>
      <div class="inputs_box">
        <form [formGroup]="form" (ngSubmit)="save()">
          <input formControlName="f_name" name="f_name" placeholder="Full Name" type="text">
          <span *ngIf="form.get('f_name')?.invalid && form.get('f_name')?.touched">
            *required, minimum 3 symbol
          </span>
          <input formControlName="email" name="email" style="margin-top: 16px;" placeholder="Your Email" type="email">
          <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
             *required, in the form of email example@.ex
          </span>
          <div class="select_block">
            <select formControlName="county" name="county">
              <option [defaultSelected]="form">Gyumri</option>
              <option>Erevan</option>
              <option>Hrazdan</option>
              <option>Vanadzor</option>
            </select>
          </div>
          <textarea formControlName="message" name="message" placeholder="Message"></textarea>
          <button [disabled]="form.invalid">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
