mat-card {
  margin-bottom: 20px;
}

.subscribe-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: #3a3a3a;
}

a:active {
  scale: 0.97;
}

div + div {
  margin-top: 10px;
}

div > span {
  color: #313131;
  font-weight: bolder;
  width: 90px;
  display: inline-block;
}

div > span + span {
  color: #494949;
  font-weight: 500;
  margin-left: 30px;
  width: 87%;
}
