<div class="choose_catagory_block">
  <div class="container">
    <div style="margin-top: 48px;" class="catagory_block">
      <div class="business_box">
        <div>
          <img src="assets/Images/icons/business.png" alt="this is icon business">
        </div>
        <h3>Business</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
      </div>
      <div class="startup_box">
        <div>
          <img src="assets/Images/icons/startup.png" alt="this is icon business">
        </div>
        <h3>Startup</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
      </div>
      <div class="economy_box">
        <div>
          <img src="assets/Images/icons/economy.png" alt="this is icon business">
        </div>
        <h3>Economy</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
      </div>
      <div class="technology_box">
        <div>
          <img src="assets/Images/icons/technology.png" alt="this is icon business">
        </div>
        <h3>Technology</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>
