<div routerLink="/category" class="business_box">
  <div>
    <img [src]="dataCategory.image" alt="this is icon business">
  </div>
  <h3>{{ dataCategory.title }}</h3>
  <p>
    {{ dataCategory.description }}
  </p>
</div>
<!--<div class="startup_box">-->
<!--  <div>-->
<!--    <img src="assets/Images/icons/startup.png" alt="this is icon business">-->
<!--  </div>-->
<!--  <h3>Startup</h3>-->
<!--  <p>-->
<!--    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.-->
<!--  </p>-->
<!--</div>-->
<!--<div class="economy_box">-->
<!--  <div>-->
<!--    <img src="assets/Images/icons/economy.png" alt="this is icon business">-->
<!--  </div>-->
<!--  <h3>Economy</h3>-->
<!--  <p>-->
<!--    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.-->
<!--  </p>-->
<!--</div>-->
<!--<div class="technology_box">-->
<!--  <div>-->
<!--    <img src="assets/Images/icons/technology.png" alt="this is icon business">-->
<!--  </div>-->
<!--  <h3>Technology</h3>-->
<!--  <p>-->
<!--    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.-->
<!--  </p>-->
<!--</div>-->
