<div class="user_block_author_page">
  <div class="container_author">
    <div class="user_info_block">
      <img src="assets/Images/close-up-photography.png" alt="this is image">
      <div class="user_info_text_block">
        <h1>Hey there, I’m Andrew Jonhson and welcome to my Blog</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Non blandit massa enim
          nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.
        </p>
        <div class="site_icons">
          <img src="assets/Images/icons/facebook.png" alt="this is icon facebook">
          <img src="assets/Images/icons/twitter.png" alt="this is icon twitter">
          <img src="assets/Images/icons/instagram.png" alt="this is icon instagram">
          <img src="assets/Images/icons/linkedin.png" alt="this is icon linkedin">
        </div>
      </div>
    </div>
    <div class="yellow_and_violet_blocks_block">
      <div class="yellow_block"></div>
      <div class="violet_block"></div>
    </div>
  </div>
</div>
<div class="my_posts_block_author">
  <div class="container_author">
    <h2>My Posts</h2>
    <app-loader-bar style="width: 100%; margin-top: 30px; display: block" [Height]="'320px'" *ngIf="dataPosts === undefined"></app-loader-bar>
    <app-loader-bar style="width: 100%; margin-top: 30px; display: block" [Height]="'320px'" *ngIf="dataPosts === undefined"></app-loader-bar>
    <div *ngFor="let data of dataPosts">
      <app-posts [dataPosts]="data"></app-posts>
    </div>
  </div>
</div>
