<div class="business_block">
  <h2>Business</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore.
  </p>
  <span>Blog > Business</span>
</div>
<div class="informations_block_categories_page">
  <div class="container">
    <div class="infromations_block">
      <app-loader-bar
        *ngIf="dataPosts == undefined"
        style="display: block; width: 100%; margin-top: 32px; padding-right: 20px"
        [Height]="'312px'"
      ></app-loader-bar>
      <app-loader-bar
        *ngIf="dataPosts == undefined"
        style="display: block; width: 100%; margin-top: 32px; padding-right: 20px"
        [Height]="'312px'"
      ></app-loader-bar>
      <app-loader-bar
        *ngIf="dataPosts == undefined"
        style="display: block; width: 100%; margin-top: 32px; padding-right: 20px"
        [Height]="'312px'"
      ></app-loader-bar>
      <app-loader-bar
        *ngIf="dataPosts == undefined"
        style="display: block; width: 100%; margin-top: 32px; padding-right: 20px"
        [Height]="'312px'"
      ></app-loader-bar>
      <div *ngFor="let data of dataPosts">
        <app-posts [dataPosts]="data"></app-posts>
      </div>
    </div>
    <div class="categories_block">
      <h2>Categories</h2>
      <div style="margin-top: 40px;" class="category">
        <div class="category_icon">
          <img src="assets/Images/icons/startup.png" alt="this is icon">
        </div>
        <h3>Startup</h3>
      </div>
      <div style="margin-top: 24px;" class="category">
        <div class="category_icon">
          <img src="assets/Images/icons/business.png" alt="this is icon">
        </div>
        <h3>Business</h3>
      </div>
      <div style="margin-top: 24px;" class="category">
        <div class="category_icon">
          <img src="assets/Images/icons/economy.png" alt="this is icon">
        </div>
        <h3>Economy</h3>
      </div>
      <div style="margin-top: 24px;" class="category">
        <div class="category_icon">
          <img src="assets/Images/icons/technology.png" alt="this is icon">
        </div>
        <h3>Technology</h3>
      </div>
      <div class="all_tags_block">
        <h2>All Tags</h2>
        <div class="tags_box">
          <div style="margin-top: 24px;">
            <div class="business">
              <p>Business</p>
            </div>
            <div class="experience">
              <p>Experience</p>
            </div>
          </div>
          <div>
            <div class="screen">
              <p>Screen</p>
            </div>
            <div class="technology">
              <p>Technology</p>
            </div>
          </div>
          <div>
            <div class="marketing">
              <p>Marketing</p>
            </div>
            <div class="life">
              <p>Life</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
