<div class="featured_post_block_blog">
  <div class="container">
    <div class="featured_post_block_blog_text_box">
      <h5>Featured Post</h5>
      <h2>
        Step-by-step guide to choosing great font pairs
      </h2>
      <p>By <span>John Doe</span>  &nbsp;l&nbsp;  May 23, 2022</p>
      <span>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor
        e eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </span>
      <a routerLink="/blog-post" style="margin-top: 32px;" class="global_button">Read More ></a>
    </div>
    <img src="assets/Images/featured_post_block_blog_img.png" alt="this is image">
  </div>
</div>
<div class="all_post_block_blog">
  <div class="container">
    <h1>All posts</h1>
    <div class="line_gray_all_posts_blog"></div>
    <app-loader-bar style="width: 100%; margin-top: 64px; display: block" [Height]="'318px'" *ngIf="dataPosts == undefined"></app-loader-bar>
    <app-loader-bar style="width: 100%; margin-top: 64px; display: block" [Height]="'318px'" *ngIf="dataPosts == undefined"></app-loader-bar>
    <app-loader-bar style="width: 100%; margin-top: 64px; display: block" [Height]="'318px'" *ngIf="dataPosts == undefined"></app-loader-bar>
    <app-loader-bar style="width: 100%; margin-top: 64px; display: block" [Height]="'318px'" *ngIf="dataPosts == undefined"></app-loader-bar>
    <app-loader-bar style="width: 100%; margin-top: 64px; display: block" [Height]="'318px'" *ngIf="dataPosts == undefined"></app-loader-bar>
    <div *ngFor="let data of dataPosts, let i = index">
      <app-posts *ngIf="i < 4" [isPrevPage]="'blog'" [dataPosts]="data"></app-posts>
    </div>
    <div class="next_prew_buttons">
      <a class="prev" href="#">< Prev</a>
      <a class="next" href="#">Next ></a>
    </div>
  </div>
</div>
<div class="container"><h2 class="all-categories-text">All Categories</h2></div>
<div class="choose_catagory_block">
  <div class="container">
    <div style="margin-top: 48px;" class="catagory_block">
      <app-loader-bar style="width: 100%" [Height]="'300px'" *ngIf="dataCategory == undefined"></app-loader-bar>
      <div *ngFor="let data of dataCategory, let i = index">
        <ng-container *ngIf="i < 4">
          <app-category-block [dataCategory]="data"></app-category-block>
        </ng-container>
      </div>
    </div>
    <div style="margin-top: 48px;" class="catagory_block">
      <div *ngFor="let data of dataCategory, let i = index">
        <ng-container *ngIf="i >= 4 && i <= 8">
          <app-category-block [dataCategory]="data"></app-category-block>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-join-our-team></app-join-our-team>
