.all-categories-text {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.featured_post_block_blog {
  padding: 80px 0;
  background: #F4F0F8;
}

.featured_post_block_blog > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured_post_block_blog_text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 624px;
}

.featured_post_block_blog_text_box > h5 {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.featured_post_block_blog_text_box > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 20px;
}

.featured_post_block_blog_text_box > img {
  width: 515px;
  height: 359px;
  object-fit: cover;
}

.featured_post_block_blog_text_box > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}


.featured_post_block_blog_text_box > p > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.featured_post_block_blog_text_box > span {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.all_post_block_blog {
  padding: 64px 0 67px 0;
}

.all_post_block_blog > .container > h1 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.line_gray_all_posts_blog {
  width: 100%;
  height: 1px;
  opacity: 0.32;
  background: #6D6E76;
  margin-top: 32px;
}

/*.business_category_block_blog {*/
/*  margin-top: 64px;*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*}*/

/*.business_category_block_blog > .text_block {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: flex-start;*/
/*  margin-left: 32px;*/
/*  width: 624px;*/
/*}*/

/*.business_category_block_blog > .text_block > span {*/
/*  color: #592EA9;*/
/*  font-family: Inter;*/
/*  font-size: 16px;*/
/*  font-style: normal;*/
/*  font-weight: 600;*/
/*  line-height: 20px;*/
/*  letter-spacing: 3px;*/
/*  text-transform: uppercase;*/
/*}*/

/*.business_category_block_blog > .text_block > h2 {*/
/*  color: #232536;*/
/*  font-family: Sen;*/
/*  font-size: 36px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: 48px;*/
/*  letter-spacing: -2px;*/
/*  margin-top: 20px;*/
/*}*/

/*.business_category_block_blog > .text_block > p {*/
/*  color: #6D6E76;*/
/*  font-family: Inter;*/
/*  font-size: 16px;*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  line-height: 28px;*/
/*  margin-top: 16px;*/
/*}*/

.all_post_block_blog > .container > .next_prew_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 174px;
  margin: auto;
  margin-top: 69px;
}

.all_post_block_blog > .container > .next_prew_buttons > .prev {
  color: #6D6E76;
  text-align: center;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
}

.all_post_block_blog > .container > .next_prew_buttons > .next {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-decoration: none;
}

.all_categories_block_blog > .container > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.catagory_block {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (max-width: 1326px) {
  .catagory_block {
    flex-wrap: wrap;
  }

  .technology_box {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1110px) {
  .startup_box,
  .economy_box {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1047px) {
  .technology_box,
  .economy_box {
    margin-top: 20px;
  }

  .technology_box {
    margin-left: 20px;
    margin-right: 20px;
  }

  .catagory_block {
    justify-content: center;
  }
}
