<div class="posted_on_startup_block">
  <div class="posted_on_startup_block-lear">
    <div class="posted_on_startup_container">
      <div class="posted_on_startup_text_box">
        <h3>Posted on <span>{{ dataPosts === undefined ? 'loading...' : dataPosts[1].category }}</span></h3>
        <h1>{{ dataPosts === undefined ? 'loading...' : dataPosts[1].title }}</h1>
        <p>By <span>
          {{ dataAuthors == undefined ? "loading..." : dataAuthors[(dataPosts[1].user_id == undefined ? 0 : dataPosts[1].user_id - 2)].name }}
        </span>&nbsp; | &nbsp;{{ dataPosts !== undefined ? dataPosts[1].created_date : 'loading...' }}</p>
        <p>{{ dataPosts !== undefined ? dataPosts[1].description : 'loading...' }}</p>
        <a style="margin-top: 48px;" class="global_button" [routerLink]="['/blog-post', (dataPosts == undefined ? 1 : dataPosts[1].user_id)]">Read More ></a>
      </div>
    </div>
  </div>
</div>
<div class="featured_post_block">
  <div class="container">
    <div class="text_block_featured_post">
      <p>Featured Post</p>
      <div class="text_box_featured_post">
        <p>All Posts</p>
        <a routerLink="/blog-post">View All</a>
      </div>
    </div>
    <div class="featured_post_box">
      <div class="featured_post_img_and_text_block">
        <img src="assets/Images/featured-Post_image.png" alt="this is image featured post block">
        <p>By <span>John Doe</span>  &nbsp;l&nbsp;  May 23, 2022</p>
        <h3>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor.
        </h3>
        <span>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore <br>
          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </span>
        <a style="margin-top: 32px;" class="global_button" routerLink="/blog-post">Read More ></a>
      </div>
      <div class="featured_post_lists_block">
        <app-loader-bar style="width: 100%; margin-top: 30px" [Height]="'200px'" *ngIf="dataPosts === undefined"></app-loader-bar>
        <app-loader-bar style="width: 100%; margin-top: 30px" [Height]="'200px'" *ngIf="dataPosts === undefined"></app-loader-bar>
        <app-loader-bar style="width: 100%; margin-top: 30px" [Height]="'200px'" *ngIf="dataPosts === undefined"></app-loader-bar>
        <app-loader-bar style="width: 100%; margin-top: 30px" [Height]="'200px'" *ngIf="dataPosts === undefined"></app-loader-bar>
        <ng-container *ngFor="let items of dataPosts, let i = index">
          <div class="list_box">
            <p>
              By
              <span>
                {{
                  dataAuthors == undefined ? 'loading...' : dataAuthors[(items.user_id == undefined ? 0 : items.user_id - 1)].name
                }}
              </span>
              &nbsp;l&nbsp;  {{ items.created_date }}
            </p>
            <a [routerLink]="['/blog-post', items.id]">{{ items.shortDescription }}</a>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="featured_post_color_box">
      <div class="yellow_block_featured_post"></div>
      <div class="violet_block_featured_post"></div>
    </div>
    <div class="featured_post_aboutus_ourmision_block">
      <div class="block_about_us">
        <h3>ABOUT US</h3>
        <h2>
          We are a community of content writers who share their learnings
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a routerLink="/about-us">Read More ></a>
      </div>
      <div class="block_our_mision">
        <h3>Our mision</h3>
        <h2>
          Creating valuable content for creatives all around the world
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container"><h2 class="choose-a-category-text">Choose A Catagory</h2></div>
<div class="choose_catagory_block">
  <div class="container">
    <div style="margin-top: 48px;" class="catagory_block">
      <app-loader-bar style="width: 100%" [Height]="'300px'" *ngIf="dataCategory === undefined"></app-loader-bar>
      <div *ngFor="let data of dataCategory, let i = index">
        <ng-container *ngIf="i < 4">
          <app-category-block [dataCategory]="data"></app-category-block>
        </ng-container>
      </div>
    </div>
    <div style="margin-top: 48px;" class="catagory_block">
      <div *ngFor="let data of dataCategory, let i = index">
        <ng-container *ngIf="i >= 4 && i <= 8">
          <app-category-block [dataCategory]="data"></app-category-block>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="why_we_started_block">
  <div style="position: relative;" class="container">
    <div class="why_we_started_box">
      <span>Why we started </span>
      <h2>
        It started out as a simple idea and evolved into our passion
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>
      <a routerLink="/blog-post" style="margin-top: 32px;" class="global_button" >Discover our story ></a>
    </div>
    <img src="assets/Images/why-we-started-image.png" alt="this is image why we started">
  </div>
</div>
<div class="list_of_authors_block">
  <div class="container">
    <h2>List of Authors</h2>
    <div style="margin-top: 48px;" class="list-authors_block">
      <app-loader-bar style="width: 100%" [Height]="'350px'" *ngIf="dataAuthors === undefined"></app-loader-bar>
      <div *ngFor="let data of dataAuthors, let i = index">
        <ng-container *ngIf="i < 4">
          <app-list-outhors [dataAuthors]="data" style="width: 100%"></app-list-outhors>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="featured_in_block">
    <div class="featured_in_text_box">
      <p>We are</p>
      <h4>Featured in</h4>
    </div>
    <app-loader-bar style="width: 100%" [Height]="'80px'" *ngIf="dataAuthors === undefined"></app-loader-bar>
    <ng-container *ngFor="let item of dataLogos, let i = index">
      <img *ngIf="i < 5" [src]="item" alt="this is logog">
    </ng-container>
  </div>
  <div class="testimonials_block">
    <div class="title_and_text_blocks">
      <p>TESTIMONIALS</p>
      <h2>What people say about our blog</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</span>
    </div>
    <div class="vertical_line_testimonials"></div>
    <div class="text_and_slider_block">
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </h4>
      <div class="username_and_slider_block">
        <div class="user_img_username_city_block">
          <img src="assets/Images/Profile picture.png" alt="this user image">
          <div class="username_city_box">
            <h4>Jonathan Vallem</h4>
            <p>New york, USA</p>
          </div>
        </div>
        <div class="slider_block">
          <img class="back_button" src="assets/Images/icons/Back_button.png" alt="this is back button">
          <img class="next_button" src="assets/Images/icons/Next_Button.png" alt="this is next button">
        </div>
      </div>
    </div>
  </div>
</div>
<app-join-our-team></app-join-our-team>
