<div [routerLink]="['/author', dataAuthors.id]">
  <div class="user_info_block">
    <img [src]="dataAuthors.image" alt="this is user image">
    <h3 class="user_full_name">
      {{ dataAuthors.name }}
    </h3>
    <p>{{ dataAuthors.description }}</p>
    <div class="site_icons">
      <img src="assets/Images/icons/facebook.png" alt="this is icon facebook">
      <img src="assets/Images/icons/twitter.png" alt="this is icon twitter">
      <img src="assets/Images/icons/instagram.png" alt="this is icon instagram">
      <img src="assets/Images/icons/linkedin.png" alt="this is icon linkedin">
    </div>
  </div>
</div>
