<div class="list_of_authors_block">
  <div class="container">
    <h2>List of Authors</h2>
    <div style="margin-top: 48px;" class="list-authors_block">
      <div class="user_info_block">
        <img src="assets/Images/user_img.png" alt="this is user image">
        <h3 class="user_full_name">
          Floyd Miles
        </h3>
        <p>Content Writer @Company</p>
        <div class="site_icons">
          <img src="assets/Images/icons/facebook.png" alt="this is icon facebook">
          <img src="assets/Images/icons/twitter.png" alt="this is icon twitter">
          <img src="assets/Images/icons/instagram.png" alt="this is icon instagram">
          <img src="assets/Images/icons/linkedin.png" alt="this is icon linkedin">
        </div>
      </div>
      <div style="background-color: #FBF6EA;" class="user_info_block">
        <img src="assets/Images/user_img4.png" alt="this is user image">
        <h3 class="user_full_name">
          Dianne Russell
        </h3>
        <p>Content Writer @Company</p>
        <div class="site_icons">
          <img src="assets/Images/icons/facebook.png" alt="this is icon facebook">
          <img src="assets/Images/icons/twitter.png" alt="this is icon twitter">
          <img src="assets/Images/icons/instagram.png" alt="this is icon instagram">
          <img src="assets/Images/icons/linkedin.png" alt="this is icon linkedin">
        </div>
      </div>
      <div class="user_info_block">
        <img src="assets/Images/user_img3.png" alt="this is user image">
        <h3 class="user_full_name">
          Jenny Wilson
        </h3>
        <p>Content Writer @Company</p>
        <div class="site_icons">
          <img src="assets/Images/icons/facebook.png" alt="this is icon facebook">
          <img src="assets/Images/icons/twitter.png" alt="this is icon twitter">
          <img src="assets/Images/icons/instagram.png" alt="this is icon instagram">
          <img src="assets/Images/icons/linkedin.png" alt="this is icon linkedin">
        </div>
      </div>
      <div class="user_info_block">
        <img src="assets/Images/user_img2.png" alt="this is user image">
        <h3 class="user_full_name">
          Leslie Alexander
        </h3>
        <p>Content Writer @Company</p>
        <div class="site_icons">
          <img src="assets/Images/icons/facebook.png" alt="this is icon facebook">
          <img src="assets/Images/icons/twitter.png" alt="this is icon twitter">
          <img src="assets/Images/icons/instagram.png" alt="this is icon instagram">
          <img src="assets/Images/icons/linkedin.png" alt="this is icon linkedin">
        </div>
      </div>
    </div>
  </div>
</div>
