<div class="about_us_block">
  <div class="container">
    <div class="about_us_box">
      <div class="text_block">
        <p>ABOUT US</p>
        <h1>
          We are a team of content writers
          who share their learnings
        </h1>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="image">
      <div class="yellow_block">
        <div class="info_block">
          <h3>12+</h3>
          <p>Blogs Published</p>
        </div>
        <div class="info_block m-l">
          <h3>18K+</h3>
          <p>Views on Finsweet</p>
        </div>
        <div class="info_block m-l">
          <h3>30K+</h3>
          <p>Total active Users</p>
        </div>
      </div>
      <div class="violet_and_yeelow_blocks">
        <div class="violet_block"></div>
        <div class="yellow_block"></div>
      </div>
    </div>
    <div class="our_mision_our_vision_block">
      <div class="text_block">
        <span>Our mision</span>
        <h3>
          Creating valuable content for
          creatives all around the world
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus.
        </p>
      </div>
      <div class="text_block">
        <span>Our Vision</span>
        <h3>
          A platform that empowers individuals to improve
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus.
        </p>
      </div>
    </div>
    <div class="our_team_of_creatives_block">
      <div class="text_box">
        <h2>Our team of creatives</h2>
        <h4>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt.
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat.
        </p>
      </div>
      <div class="shape_our_team_of_creatives_block"></div>
      <img style="display: block;" src="assets/Images/ground-group.png" alt="this is image">
    </div>
    <div class="why_we_started_this_blog_block">
      <img src="assets/Images/three-persons-sitting.png" alt="this is image">
      <div class="text_box">
        <h2>Why we started this Blog</h2>
        <h4>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt.
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat.
        </p>
      </div>
      <div class="shape_why_we_started_this_blog_block"></div>
    </div>
    <div class="list_of_authors_block">
    <div class="container">
      <h2>List of Authors</h2>
      <div style="margin-top: 48px;" class="list-authors_block">
        <div *ngFor="let data of dataAuthors">
          <app-list-outhors [dataAuthors]="data" style="width: 100%"></app-list-outhors>
        </div>
      </div>
      <div style="margin-top: 48px;" class="list-authors_block">
        <div *ngFor="let data of dataAuthors">
          <app-list-outhors [dataAuthors]="data" style="width: 100%"></app-list-outhors>
        </div>
      </div>
    </div>
    </div>
    <app-join-our-team></app-join-our-team>
  </div>
</div>
