<div *ngIf="form != undefined">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Logo Image 1</mat-label>
          <input formControlName="logo1" name="logo1" matInput type="text">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Logo Image 2</mat-label>
          <input formControlName="logo2" name="logo2" matInput type="text">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Logo Image 3</mat-label>
          <input formControlName="logo3" name="logo3" matInput type="text">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Logo Image 4</mat-label>
          <input formControlName="logo4" name="logo4" matInput type="text">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Logo Image 5</mat-label>
          <input formControlName="logo5" name="logo5" matInput type="text">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <button style="width: 100%" color="primary" mat-raised-button>SAVE</button>
  </form>

</div>
