.business_category_block_blog {
  margin-top: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.business_category_block_blog > .text_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 32px;
  width: 55%;
}

.business_category_block_blog > .text_block > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.business_category_block_blog > .text_block > a {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 20px;
  text-decoration: none;
}

.business_category_block_blog > img {
  object-fit: cover;
}

.business_category_block_blog > .text_block > a:hover {
  color: #3f3f3f;
}

.business_category_block_blog > .text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}


@media screen and (max-width: 980px) {
  .business_category_block_blog {
    flex-direction: column;
    align-items: center;
  }

  .business_category_block_blog > .text_block > span,
  .business_category_block_blog > .text_block > h2,
  .business_category_block_blog > .text_block > p {
    text-align: start;
    display: block;
  }

  .business_category_block_blog > .text_block {
    align-items: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 708px) {
  .business_category_block_blog > .text_block {
    width: 90%;
    margin: auto
  }

  .featured_post_block_blog {
    flex-direction: column;
    align-items: center;
  }
}

.blogPage {
  width: 490px;
  height: 318px;
}

.categoryPage {
  width: 294px;
  height: 312px;
}

.authorPage {
  width: 412px;
  height: 320px;
}

@media screen and (max-width: 1230px) {
  .blogPage {
    width: 330px;
    height: 250px;
  }
}

@media screen and (max-width: 980px) {
  .blogPage {
    width: 100%;
    height: 400px;
  }

  .business_category_block_blog > .text_block {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .business_category_block_blog > img {
    object-fit: cover;
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .blogPage {
    height: 200px;
  }
}
