<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="save()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="enter your post title"
          formControlName="title"
          name="title"
        >
        <mat-error *ngIf="form.get('title')?.hasError('minlength')">
          min symbol is <strong>3</strong>
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('maxlength')">
          max symbol is <strong>70</strong>
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div style="display: flex; align-items: center; justify-content: space-between">
        <mat-form-field [style.width]="userData.superAdmin === 'true' ? '49%' : '100%'">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <ng-container *ngFor="let category of dataCategory">
              <mat-option [value]="category.title.toUpperCase()">
                {{ category.title }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="userData.superAdmin === 'true'" style="width: 49%">
          <mat-label>User</mat-label>
          <mat-select formControlName="userId">
            <ng-container *ngFor="let author of dataAuthor">
              <mat-option [value]="author.id">
                <div style="display: flex; align-items: center;">
                  <img
                    class="select_author_img"
                    [src]="author.image"
                    style="margin-right: 20px"
                    alt="image"
                  >
                  {{ author.name }}
                </div>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 100%">
        <mat-label>Image</mat-label>
        <input
          matInput
          placeholder="enter your post image"
          formControlName="image"
          name="image">
        <mat-error *ngIf="form.get('image')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>short description</mat-label>
        <textarea
          class="input_textarea"
          matInput
          placeholder="enter your post short deskription"
          formControlName="shortDescription"
          name="shortDescription"
        ></textarea>
        <mat-error *ngIf="form.get('shortDescription')?.hasError('minlength')">
          min symbol is <strong>5</strong>
        </mat-error>
        <mat-error *ngIf="form.get('shortDescription')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          class="input_textarea"
          rows="3"
          matInput
          placeholder="enter your post description"
          formControlName="description"
          name="description"
        ></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('minlength')">
          min symbol is <strong>15</strong>
        </mat-error>
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button>SAVE</button>
    </form>
  </mat-card-content>
</mat-card>
