@import "assets/Fonts/Inter/Inter.css";
@import "assets/Fonts/Sen/sen.css";
@import "app/styles/button.css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #232536;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(138, 138, 138);
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  user-zoom: fixed;
  -webkit-user-drag: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home page */

.list_of_authors_block > .container > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
}

.posted_on_startup_block {
  background: url(assets/Images/backgraunds/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png) center no-repeat;
  background-size: cover;
  scroll-snap-align: center;
}

.posted_on_startup_block-lear {
  background: radial-gradient(80.99% 71.93% at 74.58% 0.00%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
  padding: 128px 0 192px 0;
  background-size: cover;
}

.posted_on_startup_text_box {
  width: 803px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.posted_on_startup_text_box > h3 {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.posted_on_startup_text_box > h3 > span {
  font-weight: 900;
}

.posted_on_startup_text_box > h1{
  color: #FFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-top: 24px;
}

.posted_on_startup_text_box > h1 + p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}

.posted_on_startup_text_box > h1 + p > span {
  color: #FFD050;
}

.posted_on_startup_text_box > h1 + p + p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 599px;
  margin-top: 16px;
}

.posted_on_startup_container {
  width: 1280px;
  margin: auto;
}

.container {
  width: 1280px;
  margin: auto;
}

.featured_post_block {
  padding-top: 128px;
}

.text_block_featured_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_block_featured_post > p {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.text_box_featured_post {
  display: flex;
  align-items: center;
}

.text_box_featured_post > p {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.text_box_featured_post > a {
  text-decoration: none;
  color: #592EA9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 322px;
}

.featured_post_img_and_text_block {
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-top: 32px;
  width: 733px;
  align-items: flex-start;
  border: 1px solid rgba(109,110,118, .1);
}

.featured_post_box {
  display: flex;
}

.featured_post_img_and_text_block > img {
  width: 669px;
  height: 352px;
  object-fit: cover;
}

.featured_post_img_and_text_block > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 32px;
}

.featured_post_img_and_text_block > p > span {
  color: #592EA9;
}

.featured_post_img_and_text_block > h3 {
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin-top: 16px;
}

.featured_post_img_and_text_block > span{
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.featured_post_lists_block {
  display: flex;
  flex-direction: column;
  margin-left: 96px;
}

.list_box {
  padding: 32px 0 25px 0;
  width: 100%;
}

.list_box > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.list_box > p > span {
  color: #592EA9;
}

.list_box > p + p {
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 8px;
}

.featured_post_color_box {
  display: flex;
  margin-top: 128px;
  justify-content: flex-end;
}

.yellow_block_featured_post {
  width: 779px;
  height: 23px;
  flex-shrink: 0;
  background-color: #FFD050;
}

.violet_block_featured_post {
  width: 282px;
  height: 23px;
  background-color: #592EA9;
}

.featured_post_aboutus_ourmision_block {
  padding: 96px 108px 96px 80px;
  width: 100%;
  background: #F4F0F8;
  display: flex;
  justify-content: space-between;
}

.block_about_us > h3 {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.block_about_us > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 24px;
  width: 493px;
}

.block_about_us > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.block_about_us > a {
  color: #592EA9;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  margin-top: 16px;
  display: inline-block;
}

.block_our_mision > h3 {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.block_our_mision > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  width: 481px;
  margin-top: 24px;
}

.block_our_mision > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 516px;
  margin-top: 16px;
}

.choose_catagory_block > .container > h2{
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  margin-top: 128px;
}

.why_we_started_block {
  display: flex;
  padding: 128px 0;
}

.why_we_started_block > img {
  object-fit: cover;
  display: inline-block;
}

.why_we_started_box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 80px;
  background: #FFF;
  width: 706px;
}

.why_we_started_box > span {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.why_we_started_box > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-top: 24px;
}

.why_we_started_box > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.list_of_authors_block > .container > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
}

.featured_in_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
  flex-wrap: wrap;
}

.featured_in_block > img {
  display: inline-block;
}

.featured_in_text_box > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.featured_in_text_box > h4 {
  color: #6D6E76;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.testimonials_block {
  margin-top: 96px;
  padding: 92px 111px 75px 112px;
  background: #FBF6EA;
  display: flex;
  justify-content: space-between;
}

.testimonials_block > .title_and_text_blocks {
  display: flex;
  flex-direction: column;
  width: 345px;
}

.testimonials_block > .title_and_text_blocks > p {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.testimonials_block > .title_and_text_blocks > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 12px;
}

.testimonials_block > .title_and_text_blocks > span {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.vertical_line_testimonials {
  width: 1px;
  height: 310px;
  background: rgba(109, 110, 118, .4);
}

.testimonials_block > .text_and_slider_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials_block > .text_and_slider_block > h4 {
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  width: 469px;
}

.testimonials_block > .text_and_slider_block >
.username_and_slider_block > .user_img_username_city_block {
  display: flex;
  align-items: center;
}

.testimonials_block > .text_and_slider_block > .username_and_slider_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials_block > .text_and_slider_block >
.username_and_slider_block > .slider_block {
  display: flex;
  align-items: center;
}

.testimonials_block > .text_and_slider_block >
.username_and_slider_block > .slider_block >
.back_button {
  margin-right: 24px;
}

.testimonials_block > .text_and_slider_block >
.username_and_slider_block > .slider_block >
img {
  display: block;
  transition: .2s scale;
}

.testimonials_block > .text_and_slider_block >
.username_and_slider_block > .slider_block >
img:active {
  scale: .9;
}

.testimonials_block > .text_and_slider_block >
.username_and_slider_block > .user_img_username_city_block > img {
  display: inline-block;
}

.testimonials_block > .text_and_slider_block > .username_and_slider_block
> .user_img_username_city_block > .username_city_box {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.testimonials_block > .text_and_slider_block > .username_and_slider_block
> .user_img_username_city_block > .username_city_box > h4 {
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.testimonials_block > .text_and_slider_block > .username_and_slider_block
> .user_img_username_city_block > .username_city_box > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.Join_our_team {
  padding: 128px 0;
}

/* blog page */

.featured_post_block_blog {
  padding: 80px 0;
  background: #F4F0F8;
}

.featured_post_block_blog > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured_post_block_blog_text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 624px;
}

.featured_post_block_blog_text_box > h5 {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.featured_post_block_blog_text_box > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 20px;
}

.featured_post_block_blog_text_box > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}


.featured_post_block_blog_text_box > p > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.featured_post_block_blog_text_box > span {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.all_post_block_blog {
  padding: 64px 0 67px 0;
}

.all_post_block_blog > .container > h1 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.line_gray_all_posts_blog {
  width: 100%;
  height: 1px;
  opacity: 0.32;
  background: #6D6E76;
  margin-top: 32px;
}

.business_category_block_blog {
  margin-top: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.business_category_block_blog > .text_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 32px;
  width: 624px;
}

.business_category_block_blog > .text_block > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.business_category_block_blog > .text_block > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 20px;
}

.business_category_block_blog > .text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.all_post_block_blog > .container > .next_prew_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 174px;
  margin: auto;
  margin-top: 69px;
}

.all_post_block_blog > .container > .next_prew_buttons > .prev {
  color: #6D6E76;
  text-align: center;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
}

.all_post_block_blog > .container > .next_prew_buttons > .next {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-decoration: none;
}

.all_categories_block_blog > .container > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}


/* blog post page */

.step_by_step_block {
  padding: 133px 0 128px 0;
}

.step_by_step_block > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step_by_step_block > .container > div {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step_by_step_block > .container > div > .user_info_block {
  display: flex;
  align-items: center;
}

.user_text_block {
  margin-left: 16px;
}

.step_by_step_block > .container > div > .user_info_block > .user_text_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step_by_step_block > .container > div > .user_info_block
> .user_text_block > h3 {
  color: #592ea9d2;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

.step_by_step_block > .container > div > .user_info_block
> .user_text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.step_by_step_block > .container > div > h1 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-top: 24px;
}

.step_by_step_block > .container > div > .category_box {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.step_by_step_block > .container > div >
.category_box > h4 {
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-left: 8px;
}

.step_by_step_block > .container > img {
  display: block;
  margin-top: 64px;
  object-fit: cover;
  width: 100%;
}

.step_by_step_block > .container > .texts_block {
  margin-top: 64px;
  width: 843px;
}

.step_by_step_block > .container > .texts_block
> h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.step_by_step_block > .container > .texts_block
> p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.step_by_step_block > .container > .texts_block
> ul {
  margin: 24px 0 0 20px;
}

.step_by_step_block > .container > .texts_block
> ul > li {
  color: #161722;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  opacity: 0.78;
}

.what_to_read_next_block > .container > h2 {
  color: #000;
  text-align: start;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.what_to_read_next_box {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what_to_read_next_box > div {
  width: 405px;
}

.what_to_read_next_box > div > img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.what_to_read_next_box > div > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 32px;
}

.what_to_read_next_box > div > p > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.what_to_read_next_box > div > h3 {
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin: 16px 0;
}

.what_to_read_next_box > div > span {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.line_what_to_read_next_block {
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background: #6D6E76;
  margin-top: 64px;
}

/* about us page */

.about_us_block > .container {
  position: relative;
  padding-top: 373px;
}

.about_us_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 38px;
}

.about_us_box > .text_block > p {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about_us_box > .text_block > h1 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-top: 16px;
  width: 496px;
}

.about_us_box >  .text_block {
  padding: 64px;
  background-color: #fff;
}

.about_us_box > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 477px;
  margin-left: 32px;
}

.about_us_block > .container > .image {
  width: 100%;
  background: url(assets/Images/backgruond_about_us.png) center no-repeat;
  background-size: cover;
  padding: 265px 0 0 109px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.about_us_block > .container
> .image > .yellow_block {
  padding: 38px 48px;
  background-color: #FFD050;
  display: flex;
}

.about_us_block > .container
> .image > .yellow_block > .info_block {
  display: flex;
  flex-direction: column;
}

.about_us_block > .container
> .image > .yellow_block > .info_block
> h3 {
  color: #232536;
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.about_us_block > .container
> .image > .yellow_block > .m-l {
  margin-left: 68px;
}

.about_us_block > .container
> .image > .yellow_block > .info_block
> p {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.about_us_block > .container
> .image > .violet_and_yeelow_blocks {
  display: flex;
  align-items: center;
}


.about_us_block > .container
> .image > .violet_and_yeelow_blocks >
.violet_block {
  width: 311.477px;
  height: 23px;
  background-color: #592EA9;
}

.about_us_block > .container
> .image >
.violet_and_yeelow_blocks >
.yellow_block {
  width: 550px;
  height: 23px;
  background-color: #FFD050;
}

.our_mision_our_vision_block {
  width: 100%;
  padding: 128px 108px 64px 108px;
  background-color: #F4F0F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our_mision_our_vision_block > .text_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 516px;
}

.our_mision_our_vision_block > .text_block > span {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.our_mision_our_vision_block > .text_block > h3 {
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin-top: 24px;
}

.our_mision_our_vision_block > .text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.our_team_of_creatives_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 128px;
  position: relative;
}

.our_team_of_creatives_block > .text_box {
  display: flex;
  flex-direction: column;
  width: 519px;
}

.our_team_of_creatives_block > .text_box > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.our_team_of_creatives_block > .text_box > h4 {
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 16px 0;
}

.our_team_of_creatives_block > .text_box > p {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.shape_our_team_of_creatives_block {
  position: absolute;
  width: 103px;
  height: 116px;
  border-radius: 50px 0 0 0;
  background-color: #FFD050;
  top: 114px;
  right: 578px;
}

.why_we_started_this_blog_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 128px;
  position: relative;
}

.why_we_started_this_blog_block > .text_box {
  margin-left: 64px;
}

.why_we_started_this_blog_block > .text_box > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.why_we_started_this_blog_block > .text_box > h4 {
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 16px 0;
}

.why_we_started_this_blog_block > .text_box > p {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.shape_why_we_started_this_blog_block {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #592EA9;
  position: absolute;
  bottom: -37px;
  left: 107px;
}

/* category-block page */

.business_block {
  width: 100%;
  padding: 80px 0;
  background-color: #F4F0F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.business_block > h2 {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.business_block > p {
  color: #6D6E76;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 515px;
  margin-top: 16px;
}

.business_block > span {
  color: #232536;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 32px;
}

.informations_block_categories_page {
  display: flex;
  align-items: flex-start;
  margin: 128px 0;
}

.informations_block_categories_page > .container > .infromations_block {
  display: flex;
  flex-direction: column;
}

.informations_block_categories_page > .container > .infromations_block
> .info_box {
  display: flex;
  align-items: center;
}


.informations_block_categories_page > .container > .infromations_block
> .info_box > .text_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 512px;
  margin-left: 32px;
}

.informations_block_categories_page > .container > .infromations_block
> .info_box > .text_block > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.informations_block_categories_page > .container > .infromations_block
> .info_box > .text_block > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 20px;
}

.informations_block_categories_page > .container > .infromations_block
> .info_box > .text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.informations_block_categories_page > .container > .categories_block {
  display: flex;
  flex-direction: column;
}

.informations_block_categories_page > .container > .categories_block
> .category {
  width: 296px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1.5px solid #C1C1C3;
  padding: 24px 0 24px 24px;
}

.informations_block_categories_page > .container > .categories_block
> .category > h3 {
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin-left: 16px;
}

.informations_block_categories_page > .container > .categories_block
> .category > .category_icon {
  width: 48px;
  height: 48px;
  background-color: #FBF6EA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.informations_block_categories_page > .container > .categories_block
> h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.informations_block_categories_page > .container {
  display: flex;
  justify-content: space-between;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block {
  display: flex;
  flex-direction: column;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 48px;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box {
  display: flex;
  flex-direction: column;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > .business {
  padding: 8px 38px;
  border-radius: 28px;
  border: 2px solid #6D6E76;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > div > p {
  color: #232536;
  font-family: Sen;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > .experience {
  padding: 8px 37px;
  margin-left: 16px;
  border-radius: 28px;
  border: 2px solid #6D6E76;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > .screen {
  padding: 8px 30px;
  border-radius: 28px;
  border: 2px solid #6D6E76;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > .technology {
  padding: 8px 48px;
  margin-left: 16px;
  border-radius: 28px;
  border: 2px solid #6D6E76;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > .marketing {
  padding: 8px 54px;
  border-radius: 28px;
  border: 2px solid #6D6E76;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > .life {
  padding: 8px 38px;
  margin-left: 16px;
  border-radius: 28px;
  border: 2px solid #6D6E76;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > div {
  transition: .3s scale cubic-bezier(.5 ,-1, .5, 2);
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > div:hover {
  background-color: #6b6b6b;
  scale: 1.05;
}

.informations_block_categories_page > .container > .categories_block
> .all_tags_block > .tags_box > div > div:hover > p {
  color: #fff;
}


/* author block */

.container_author {
  width: 1024px;
  margin: auto;
}

.user_block_author_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  background-color: #F4F0F8;
}

.container_author > .user_info_block {
  display: flex;
  justify-content: flex-start;
}

.container_author > .user_info_block > .user_info_text_block {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  max-width: 669px;
}

.container_author > .user_info_block > .user_info_text_block > .site_icons {
  display: flex;
  justify-content: space-between;
  width: 112px;
  margin-top: 24px;
}

.container_author > .yellow_and_violet_blocks_block {
  display: flex;
  margin-top: 104px;
}

.container_author > .user_info_block > .user_info_text_block > h1 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.container_author > .user_info_block > .user_info_text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}

.container_author > .user_info_block > img {
  width: 251px;
  object-fit: cover;
  height: 100%;
}

.container_author > .yellow_and_violet_blocks_block > .yellow_block {
  width: 752px;
  height: 24px;
  background-color: #FFD050;
}

.container_author > .yellow_and_violet_blocks_block > .violet_block {
  width: 271.934px;
  height: 24px;
  background-color: #592EA9;
}

.my_posts_block_author {
  padding: 128px 0;
}

.my_posts_block_author > .container_author > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.my_posts_block_author > .container_author > .info_block {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.my_posts_block_author > .container_author > .info_block > img {
  object-fit: cover;
  width: 412px;
}

.my_posts_block_author > .container_author > .info_block > .text_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 560.38px;
  margin-left: 32px;
}

.my_posts_block_author > .container_author >
.info_block > .text_block > span {
  color: #592EA9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}


.my_posts_block_author > .container_author >
.info_block > .text_block > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 20px;
}

.my_posts_block_author > .container_author >
.info_block > .text_block > p {
  color: #6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.contact_page_block {
  padding: 128px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_page_block > span {
  color: #232536;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact_page_block > h1 {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  max-width: 557px;
  margin-top: 12px;
}

.contact_page_block > p {
  color: #6D6E76;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 768px;
  margin-top: 24px;
}

.contact_page_block > .inputs_block > .working_hors_and_contact_block {
  padding: 48px 73.65px 48px 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #592EA9;
  margin-top: 64px;
}

.contact_page_block > .inputs_block > .working_hors_and_contact_block > .working_hours_block,
.contact_page_block > .inputs_block > .working_hors_and_contact_block > .contact_block {
  display: flex;
  flex-direction: column;
}

.contact_page_block > .inputs_block > .working_hors_and_contact_block > .contact_block {
  margin-left: 42.35px;
}


.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .working_hours_block > span {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .working_hours_block > .line {
  width: 294px;
  height: 1px;
  opacity: 0.1;
  background-color: #FFF;
  margin: 16px 0;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .working_hours_block > h5 {
  color: #FFF;
  font-family: Sen;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .working_hours_block > p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .contact_block > span {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .contact_block > .line {
  width: 294px;
  height: 1px;
  opacity: 0.1;
  background-color: #FFF;
  margin: 16px 0;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .contact_block > h5 {
  color: #FFF;
  font-family: Sen;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.contact_page_block > .inputs_block >
.working_hors_and_contact_block > .contact_block > p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}

.contact_page_block > .inputs_block > .inputs_box {
  margin-top: 32px;
}

.contact_page_block > .inputs_block > .inputs_box > form {
  display: flex;
  flex-direction: column;
}

.contact_page_block > .inputs_block > .inputs_box > form > input {
  padding: 24px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.50);
  color: #232536;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  transition: 1s background-color;
  outline: none;
}

.contact_page_block > .inputs_block > .inputs_box > form > div {
  margin: 16px 0;
}

.contact_page_block > .inputs_block > .inputs_box > form > div > select {
  padding: 24px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.50);
  appearance: none;
  background-color: #fff;
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
  outline: none;
}


.contact_page_block > .inputs_block > .inputs_box > form > input::placeholder {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.contact_page_block > .inputs_block > .inputs_box > form > textarea {
  resize: none;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.50);
  padding: 24px;
  color: #232536;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  transition: .2s background-color;
  outline: none;
  height: 144px;
}

.contact_page_block > .inputs_block > .inputs_box > form > div > select:focus,
.contact_page_block > .inputs_block > .inputs_box > form > input:focus,
.contact_page_block > .inputs_block > .inputs_box > form > textarea:focus {
  font-size: 16px;
  border: 2px solid #592EA9;
}

.contact_page_block > .inputs_block > .inputs_box > form > textarea::placeholder {
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.select_block  {
  position: relative;
}

.select_block::after {
  content: "";
  background: url(assets/Images/icons/arrow_select.svg) no-repeat;
  background-size: cover;
  width: 11px;
  height: 8px;
  top: 34px;
  right: 61px;
  position: absolute;
}

.contact_page_block > .inputs_block > .inputs_box > form > button {
  background: #FFD050;
  padding: 16px;
  margin-top: 16px;
  border: none;
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  transition: .2s scale cubic-bezier(.5 ,-1, .5, 2);
}

.contact_page_block > .inputs_block > .inputs_box > form > button:active {
  scale: .92;
}

.contact_page_block > .inputs_block > .inputs_box > form > button:hover {
  background: #fff8b7;
}


/* privacy policy page */

.privacy_policy_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: #F4F0F8;
}

.privacy_policy_block > .container > h1 {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.privacy_policy_block > .container > p {
  color: #232536;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 4px;
  opacity: 0.6;
}

.text_block_privacy_policy_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 0;
}

.text_block_privacy_policy_page > .text_box {
  max-width: 768px;
}

.text_block_privacy_policy_page > .text_box > h2 {
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.text_block_privacy_policy_page > .text_box > h3 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 32px;
}

.text_block_privacy_policy_page > .text_box > p {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
