<div class="step_by_step_block">
  <div class="container">
    <div>
      <div class="user_info_block">
        <img src="assets/Images/user_blugpost_Image.png" alt="this is user image">
        <div class="user_text_block">
          <h3>Andrew Jonson</h3>
          <p>Posted on 27th January 2022</p>
        </div>
      </div>
      <h1>Step-by-step guide to choosing great font pairs</h1>
      <div class="category_box">
        <img src="assets/Images/icons/startup.png" alt="this image category">
        <h4>Startup</h4>
      </div>
    </div>
    <img src="assets/Images/backgraunds/background-of-woman-wearing.png" alt="this is image">
    <div class="texts_block">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <h2 style="margin-top: 48px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <p style="margin-top: 24px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Non blandit massa enim nec scelerisque</li>
        <li>Neque egestas congue quisque egestas</li>
      </ul>
      <p style="margin-top: 24px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <h2 style="margin-top: 48px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
    </div>
  </div>
</div>
<div class="what_to_read_next_block">
  <div class="container">
    <h2>What to read next</h2>
    <div class="what_to_read_next_box">
      <div>
        <img src="assets/Images/two-women-in-front.png" alt="this is image">
        <p>By <span>John Doe</span>&nbsp; | &nbsp;Aug 23, 2021 </p>
        <h3>
          A UX Case Study Creating a Studious Environment for Students:
        </h3>
        <span>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </span>
      </div>
      <div>
        <img src="assets/Images/photo-of-people.png" alt="this is image">
        <p>By <span>John Doe</span>&nbsp; | &nbsp;Aug 23, 2021 </p>
        <h3>
          A UX Case Study Creating a Studious Environment for Students:
        </h3>
        <span>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </span>
      </div>
      <div>
        <img src="assets/Images/photo-of-woman.png" alt="this is image">
        <p>By <span>John Doe</span>&nbsp; | &nbsp;Aug 23, 2021 </p>
        <h3>
          A UX Case Study Creating a Studious Environment for Students:
        </h3>
        <span>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </span>
      </div>
    </div>
    <div class="line_what_to_read_next_block"></div>
  </div>
</div>
<app-join-our-team></app-join-our-team>
