<div class="post-not" *ngIf="!isTruePage">
  <h6>404 This post doesn't exist or not connection</h6>
</div>
<div *ngIf="isTruePage" class="step_by_step_block">
  <div class="container">
    <div>
      <div class="user_info_block">
        <img [src]="dataAuthor === undefined ? '' : dataAuthor.image" alt="this is user image">
        <div class="user_text_block">
          <a [routerLink]="['/author', dataPosts.user_id]">
            {{ dataAuthor === undefined ? 'loading...' : dataAuthor.name }}
          </a>
          <p>Posted on {{ dataPosts === undefined ? 'loading...' : dataPosts.created_date }}</p>
        </div>
      </div>
      <h1>{{ dataPosts === undefined ? 'loading...' : dataPosts.title }}</h1>
      <div class="category_box">
        <img [src]="dataPosts === undefined ? '' : dataPosts.category_icon" alt="this image category">
        <h4>{{ dataPosts === undefined ? 'loading...' : dataPosts.category }}</h4>
      </div>
    </div>
    <img class="post-img" [src]="dataPosts === undefined ? '' : dataPosts.image" alt="this is image">
    <div *ngIf="dataPosts != undefined" class="texts_block">
      <h2>{{ dataPosts.title }}</h2>
      <p>{{ dataPosts.description }}</p>
      <h2 style="margin-top: 48px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <p style="margin-top: 24px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Non blandit massa enim nec scelerisque</li>
        <li>Neque egestas congue quisque egestas</li>
      </ul>
      <p style="margin-top: 24px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
      <h2 style="margin-top: 48px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
        sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
        montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
        hendrerit gravida rutrum quisque non.
      </p>
    </div>
  </div>
</div>
<div class="what_to_read_next_block">
  <div class="container">
    <h2>What to read next</h2>
    <div *ngIf="dataPostsMorePosts != undefined" class="what_to_read_next_box">
      <ng-container *ngFor="let item of dataPostsMorePosts, let i = index">
        <div *ngIf="i < 3">
          <img [src]="item.image" alt="this is image">
          <p>
            By
            <a
              *ngIf="dataAuthorsMorePosts != undefined"
              [routerLink]="['/author', item.user_id]"
            >
              {{ dataAuthorsMorePosts[item.user_id != undefined ? item.user_id - 1 : 0].name }}
            </a>&nbsp;
            | &nbsp;{{ item.created_date }}
          </p>
          <a [routerLink]="['/blog-post', item.id]">{{ item.title }}</a>
          <span>{{ item.description }}</span>
        </div>
      </ng-container>
    </div>
    <div class="line_what_to_read_next_block"></div>
  </div>
</div>
<app-join-our-team></app-join-our-team>
