<mat-card>
  <mat-card-content *ngIf="form != undefined && valueCategory != undefined">
    <form [formGroup]="form" (ngSubmit)="save()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="enter your category name"
          formControlName="name"
          name="name"
        >
        <mat-error *ngIf="form.get('title')?.hasError('minlength')">
          min symbol is <strong>3</strong>
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('maxlength')">
          max symbol is <strong>70</strong>
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Icon</mat-label>
        <input
          matInput
          placeholder="enter your category icon"
          formControlName="icon"
          name="icon">
        <mat-error *ngIf="form.get('image')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>short description</mat-label>
        <textarea
          class="input_textarea"
          matInput
          placeholder="enter your post short deskription"
          formControlName="shortDescription"
          name="shortDescription"
        ></textarea>
        <mat-error *ngIf="form.get('shortDescription')?.hasError('minlength')">
          min symbol is <strong>5</strong>
        </mat-error>
        <mat-error *ngIf="form.get('shortDescription')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          class="input_textarea"
          rows="3"
          matInput
          placeholder="enter your post description"
          formControlName="description"
          name="description"
        ></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('minlength')">
          min symbol is <strong>15</strong>
        </mat-error>
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button>SAVE</button>
    </form>
  </mat-card-content>
</mat-card>
